**/build/
**/.gradle/
**/out/

gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

.DS_Store
.idea/
*.iml

**/*.log
hs_err_pid*

*.tmp
*.swp

**/*.run/
**/test-results/
**/application*.yml
*.yaml~
*.yml
